@font-face {
	font-family: 'Sniglet';
	font-style: normal;
	font-weight: 400;
	src: local('Sniglet Regular'), local('Sniglet-Regular'), 
	url(//fonts.gstatic.com/s/sniglet/v7/lHhyjBgrvbE7Y_C6XNlBow.woff2) format('woff2'), 
	url(//fonts.gstatic.com/s/sniglet/v7/zaGgxcO7SfusqT6GpDlcHg.woff) format('woff');
}

@font-face {
	font-family: 'Sniglet';
	font-style: normal;
	font-weight: 800;
	src: local('Sniglet ExtraBold'), local('Sniglet-ExtraBold'), 
	url(//fonts.gstatic.com/s/sniglet/v7/1ZHjsYpklbehZSiZpN0bvvk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), 
	url(//fonts.gstatic.com/s/sniglet/v7/1ZHjsYpklbehZSiZpN0bvhsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), 
	url(//fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), 
	url(//fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), 
	url(//fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), 
	url(//fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), 
	url(//fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), 
	url(//fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
