#main-menu {
	position: fixed;
	border-bottom: 1px solid #eee;
}

.page {
	width: 100%;
	height: 100%;
	display: block;
}

#front-spash {
	height: 100%;
	background-color: #eee;
}

#front-spash-content {
	color: #3A4153;
	height: 160px;
	width: 640px;
	text-align: center;
	position: absolute;
	top: calc(50% - 80px);
	left: calc(50% - 320px);
}

#front-splash-logo {
	margin: 6px;
	font-size: 40px;
	font-weight: 900;
	font-family: 'Source Sans Pro', sans-serif;

	/* Uncomment line below for no splash logo */
	display: none;
}

#front-spash-content p {
	margin: 6px;
	font-size: 22px;
	font-weight: 300;

	/* Uncomment lines below if no splash logo */
	height: 100%; 
	line-height: 160px; 
}

